{{extend name="public/base"}}

{{block name="content"}}
<h2>当前书目：{{$book.title}}</h2>
<form action="{{:url('admin/pages/update')}}" class="form-horizontal" method="POST">
    本章标题:<br>
    <input type="text" name="title" class="form-control" style="max-width: 60vw;" value="{{$page.title}}"><br>
    本章内容:
    <textarea id="ueditor" name="content">{{$page.content}}</textarea>
    <input type="hidden" name="id" value="{{$page.id}}">
    <input type="hidden" name="book_id" value="{{$book.id}}">
    <button type="submit" class="btn btn-primary">修改</button>
    <button type="reset" class="btn btn-default">取消</button>
</form>
{{/block}}

{{block name="js"}}
<script src="__STATIC__/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/ueditor/ueditor.all.js"></script>
<script>
    let ue = UE.getEditor('ueditor');
</script>
{{/block}}