{{extend name="public/base"}}
{{block name="content"}}

<div class="row">
    <div class="col-md-9">
        {{volist name="bookList" id="vo" empty="<h3 class='text-center'>暂无数据</h3>"}}
        <div class="media">
            <div class="media-left">
                <a href="{{:url('index/article/index',['id'=>$vo.id])}}">
                    <img src="{{if condition='$vo.is_upload'}}__ROOT__/static/upload/{{/if}}{{$vo.pic}}" style="width: 300px;height:180px;" class="thumbnail">
                </a>
            </div>
            <div class="media-body">
                <p class="media-heading"><a href="{{:url('index/article/index',['id'=>$vo.id])}}">
                        <span class="text-info" style="font-size: 3rem;">{{$vo.title}}</span></a>
                    <span class="glyphicon glyphicon-eye-open">{{$vo.browse_times}}</span>
                    <span class="glyphicon glyphicon-comment">{{$vo.comment_times}}</span>
                </p>
                <h5>{{$vo.intro|mb_substr=0,100}}{{if condition="mb_strlen($vo.intro)>100"}}...{{/if}}</h5>
            </div>
        </div>
        {{/volist}}
        {{$bookList->render()}}
    </div>

    <div class="col-md-3">
        <div class="page-header">
            <h4>{{$categoryName}}类:最近更新</h4>
        </div>
        <div class="list-group">
            {{volist name="newList" id="vo" length="8" empty="<h3 class='text-center'>暂无数据</h3>"}}
            <div class="list-group-item {{if condition='$key==0'}}list-group-item-danger{{/if}}">
                <a href="{{:url('index/article/index',['id'=>$vo.id])}}">{{$vo.title}}</a></div>
            {{/volist}}
        </div>
    </div>
</div>

{{/block}}