<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="__ROOT__/favicon.ico" type="image/x-icon">
    <style>
        .container{
            min-height: 85vh;
            padding-bottom: 12%;
        }
    </style>
    <title>{{block name="title"}}BB-BOOK{{/block}}</title>
    {{load file="__STATIC__/bootstrap/css/bootstrap.css"}}
    {{block name="css"}}{{/block}} 
</head>

<body>
    {{include file="public/header"}}
    <div class="container">
        {{block name="content"}} {{/block}}
    </div>
    {{include file="public/footer"}}

    {{load file="__JS__/jquery.js"}}
    {{load file="__STATIC__/bootstrap/js/bootstrap.js"}}
    {{block name="js"}}{{/block}}
</body>

</html>