{{extend name="public/base"}}
{{block name="css"}}
<style>
    .table th,
    td {
        padding: 5px !important;
    }
</style>
{{/block}}
{{block name="content"}}

<h2>用户列表</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>id</td>
        <th>name</td>
        <th>email</td>
        <th>user_rank</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th>edit</th>
    </tr>
    {{volist name="userList" id="vo"}}
    <tr>
        <td>{{$vo.id}}</td>
        <td>{{$vo.name}}</td>
        <td>{{$vo.email}}</td>
        <td>{{$vo.user_rank}}</td>
        <td>{{$vo.created_at}}</td>
        <td>{{$vo.updated_at}}</td>
        <td>
            <a href="{{:url('admin/user/edit',['id'=>$vo.id])}}" class="btn btn-primary">编辑</a>
            <a href="{{:url('admin/user/delete',['id'=>$vo.id])}}" class="btn btn-danger"
                onclick="return confirm('are you sure?')">删除</a>
        </td>
    </tr>
    {{/volist}}
</table>

{{/block}}